@charset "UTF-8";
/*------------------------------------*\
    #BASICS
\*------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Microsoft Yahei", Arial, sans-serif;
}
input, button{
	border: none;
	outline: none;
}
ul, li {
	list-style: none;
}

/*------------------------------------*\
    #STYLES
\*------------------------------------*/
/** VARIABLES */
$height: 30px;
$font-size: 16px;
$span-width: 70px;
$input-width: 300px;
$btn-width: 80px;
$input-margin-left: 20px;
$focus-color: #62aeec;
$error-color: #de000f;
$correct-color: #61ba46;

$radioLab-margin-left: 100px;
$lab-margin-top: 20px;
$cityInput-width: 150px;
$cityInput-margin-right: 50px;
$uniInput-width: 300px;

/** MIXINS */
@mixin radius ($border-radius) {
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border-radius: $border-radius;
}
@mixin box-shadow ($box-shadow...) {
	-moz-box-shadow: $box-shadow;
	-webkit-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

/** EXTEND */
// 边框样式
.border-styles {
	border: 1px solid #a9a9a9;
	@include radius(5px);
	text-indent: .5em;
}
.border-styles-skin2 {
	border: 1px solid #a9a9a9;
	text-indent: .5em;
}
// 提示规则样式
.rules-styles {
	color: #a9a9a9;
	font-size: .7em;

	&.error-rules {
		color: $error-color;
	}
	&.correct-rules {
		color: $correct-color;
	}
}
// 按钮样式
.btn-styles {
	width: $btn-width;
	height: $height;
	line-height: $height;
	font-size: $font-size;
	color: #fff;
	@include radius(5px);
	background-color: #2F79BA;
	cursor: pointer;
}
.btn-styles-skin2 {
	width: $btn-width;
	height: $height;
	line-height: $height;
	font-size: $font-size * .5;
	color: #fff;
	@include box-shadow(3px 3px 10px #999);
	background-color: green;
	cursor: pointer;
}

/** TEMP */
// 获得焦点时边框颜色阴影变化
.focus-input {
	border: 1px solid #62aeec;
	@include box-shadow(0 0 5px $focus-color);
}
.error-input {
	border: 1px solid $error-color;
	@include box-shadow(0 0 5px $error-color);
}
.correct-input {
	border: 1px solid $correct-color;
	@include box-shadow(0 0 5px $correct-color);
}

/** STYLE */
// 表单整体
form {
	margin-top: 30px;
}
// 多项表单部分
.inputLab {
	position: relative;
	display: block;
	margin-left: $radioLab-margin-left * .6;
	margin-bottom: $lab-margin-top;

	// 表单名称： 姓名，密码，密码确认，邮箱，手机...
	& span {
		display: inline-block;
		width: $span-width;
	 	text-align: right;
		margin-right: $input-margin-left;
	}
	// 输入框： 表单名称后的文本框
	& .input {
		width: $cityInput-width + $cityInput-margin-right + $uniInput-width;		
		height: $height;
		@extend .border-styles;
	}
	& .input-skin2 {
		width: $cityInput-width + $cityInput-margin-right;
		height: $height;
		@extend .border-styles-skin2;
	}
	// 表单获得焦点时出现的规则提示
	& .rules {
		display: none;
		margin-left: $span-width + $input-margin-left + 5px;
		padding-top: 5px;
		@extend .rules-styles;
	}
}

// radio部分
.radioLab {
	display: inline-block;
	margin-left: $radioLab-margin-left;
	margin-top: $lab-margin-top;

	&:nth-child(2) {
		margin-left: ($cityInput-width + $cityInput-margin-right) * .7;
	}
}

// 按钮部分
.btn {
	margin-top: $lab-margin-top;
	margin-left: $radioLab-margin-left * 2.5;
	@extend .btn-styles;
}
.btn-skin2 {
	margin-top: $lab-margin-top;
	margin-left: $radioLab-margin-left;
	@extend .btn-styles-skin2;
}

// 验证信息部分
.valid {
	//display: none;
	width: $input-width / 1.5;
	height: $input-width / 2;
	margin-top: $lab-margin-top;
	margin-left: $radioLab-margin-left;
	color: #666;
	border: 2px solid #666;
	@include radius(5px);

	& li {
		margin-left: $input-margin-left;
		height: $font-size * 1.8;
		line-height: $font-size * 1.8;
	}
}