@import url(base.css);

/*
 *   RESET: 基础格式
 *   STYLE: 样式
 */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, img {
    display: inline-block;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
li {
    display: inline-block;
}
article, aside, footer, header, main, nav, section, p {
    display: block;
}
select, input, textarea {
    outline: none;
}
input {
    border: 0;
}
textarea {
    resize: none;
}
.fl {
    float: left;
}
.fr{
    float: right;
}

/* STYLE */
body {
    position: relative;
}
/* top */
.top {
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}
/*logo*/
.logo {
    height: 55px;
    width: 164px;
    padding-left: 60px;
    line-height: 55px;
    background: url("images/icons/logo.png") left center no-repeat;
    background-size: 30%;
    background-origin: content-box;
}
.logo a {
    margin-left: 38px;
}
.logo a:link, .logo a:visited {
    color: #383838;
    letter-spacing: 2px;
}
/*nav*/
.nav {
    height: 55px;
    margin-right: 65px;
    overflow: auto;
}
.nav ul {
    
}
.nav ul li {
    padding: 0 20px;
    /*margin-right: 10px;*/
    height: 55px;
}
.nav a {
    height: 55px;
    line-height:55px;
}
.nav a:link, .nav a:visited {
    color: #787A82;
}
.nav li:last-child {
    padding: 0;
}
.nav li:not(:last-child):hover{
    color: #E7504D;
    border-bottom: 4px solid #E7504D;
}
.nav a:hover {
    color: #E7504D;
}
.nav li.active {
    border-bottom: 4px solid #E7504D;
}
.nav li.active a {
    color: #E7504D;
}
/*login*/
.nav li:last-child {
    width: 50px;
    text-align: right;
    background: url("images/icons/login.png") left center no-repeat;
    background-origin: content-box;
}
.nav li:last-child a:link, .nav li:last-child a:visited {
    color: #E7504D;
}
/* top ends */

/* banner */
.banner {
    height: 690px;
    margin-top: 55px;
    background: url("images/banner.png") 0 0 no-repeat;
    background-size: cover;
    color: #fff;
}
.banner .inner {
    width: 75%;
    margin: 0 auto;
    padding-top: 224px;
}
.banner .inner h1 {
    margin-left: -10px;
}
.banner .inner h2 {
    margin-top: 30px;
    line-height: 30px;
}
.banner .inner .start-btn {
    width: 330px;
    height: 65px;
    margin-top: 60px;
    line-height: 65px;
    text-align: center;
    color: #fff;
    background-color: #E7504D;
}
/* banner ends */

/* intro */
.intro {
    height: 250px;
}
.intro .detail {
    width: 25%;
    height: 100%;
}
.circle {
    background: url("images/icons/circle.png") center 20% no-repeat;
}
.intro .flag {
    background: url("images/icons/flag.png") center 20% no-repeat;
}
.intro .flower {
    background: url("images/icons/flower.png") center 20% no-repeat;
}
.intro .square {
    background: url("images/icons/square.png") center 20% no-repeat;
}
.intro .detail p {
    height: 50px;
    width: 100%;
    margin-top: 50%;
    text-align: center;
    color: #767676;
}
.intro .detail:not(:last-child) p {
    border-right: 2px solid #aaa;
}
/* intro ends */

/* slogan */
.slogan {
    height: 360px;
    background-color: #EDECEC;
    text-align: center;
}
.slogan h1 {
    padding-top: 225px;
    color: #a6a6a6;
    background: url("images/icons/logo.png") center 30% no-repeat;
}
/* slogan ends */

/* map */
.map {
    height: 340px;
    background: url("images/map.png") no-repeat;
    background-size: cover;
}
.map .inner {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.map .inner h1, .map .inner p {
    color: #fff;
}
.map .inner .line {
	border-bottom-style: solid;
	border-bottom-color: #fff;
	width: 32px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.map .inner p {
    margin-top: 32px;
}
/*form*/
.map form {
    margin-top: 55px;
}
.map form .list {
    position: relative;
    display: inline-block;
    width: 236px;
    height: 36px;
    margin: 0 14px;
    vertical-align: top;
    text-align: left;
}
.map form .list .content {
    position: absolute;
    top: 0;
    left: 0;
}
.map form .list:not(:last-child) .content:hover {
    outline: 1px solid #E7504D;
}
.map form .list .content .tog {
    width: 236px;
    height: 36px;
    margin: 0 auto;
    padding-left: 14px;
    line-height: 36px;
    text-align: left;
    background: #fff;
    color: #aaa;
}
.map form .list .content .sel {
    display: none;
    margin: 0 auto;
    padding: 0;
    background: #e3e3e4;
}
.map form .list .content:hover .sel {
    display: block;
}
.map form .list .content .sel .opt {
    position: relative;
    width: 236px;
    height: 26px;
}
.opt .rad, .opt .lab {
    position: absolute;
    width: 100%;
    height: 26px;
}
.opt .rad {
    z-index: -1;
    opacity: 0;
}
.opt .lab {
    padding-left: 32px;
    color: #333;
    line-height: 26px;
}
.opt .lab.select, .opt:hover .lab {
    background-color: #E7504D;
    color: #fff;
}
.opt .lab.select:before{
    content: '';
    position: absolute;
    top: 8px;
    left: 9px;
    width: 12px;
    height: 8px;
    background: url("images/icons/hook.png") no-repeat;
}
.search-btn {
    width: 236px;
    height: 36px;
    background-color: #be4e48;
    color: #fff;
    text-align: center;
    word-spacing: 1.4em;
    outline: 0;
}
/* 箭头 */
.arrow-box {
    position: relative;
}
.arrow {
    position: absolute;
    top: 20px;
    right: -175px;
}
.arrow:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: #E7504D transparent transparent;
    border-width: 8px;
    bottom: -2px;
}
.arrow:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: #fff transparent transparent;
    border-width: 8px;
    bottom: -1px;
    z-index: 9;
}
.list, .tog, .sel, .opt{
    cursor: pointer;
}
/* map ends */

/* citynews */
.citynews {
    height: 640px;
    background-color: #F7F7F7;
}
.citynews .inner {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding: 100px 0;
}
.act {
    padding: 10px 6px;
    text-align: center;
}
.act .newspic {
    margin-bottom: 10px;
    padding: 10px 6px;
    background-color: #fff;
    border: 1px solid #CECFCE;
}
.act:not(:last-child) {
    margin-right: 36px;
}
.citynews h3 {
    color: #000;
}
.citynews h4 {
    color: #B5B5B5;
}
/* shanghai */
.shanghai {
    text-align: center;
}
.shanghai h3 {
    /* 让文字紧靠两端 */
    text-align: justify;
    text-align-last: justify;
}
.shanghai .newspic {
    margin-top: 10px;
}
/* citynews ends */

/* newtime */
.newtime {
    height: 1090px;
    /*background-color: ;*/
}
/*world*/
.world {
    position: relative;
    width: 100%;
    height: 567px;
    background-color: #ffdca6;
}
/*world-picbox*/
.world-picbox {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: yellowgreen;
}
.world-picbox img {
    width: 100%;
    height: 100%;
}
.world-picbox .world-picbox-content {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 30%;
    color: #fff;
    text-align: center;
}
.world-picbox .world-picbox-content h1 {
    margin-top: -40px;
}
.world-picbox .world-picbox-content p {
    width: 170px;
    margin: 0 auto;
    line-height: 30px;
    text-align: left;
}
/*world-content*/
.world-content {
    position: relative;
    width: 30%;
    height: 100%;
    padding: 165px 70px;
    background-color: #fff;
    text-align: center;
}
.world-content h3 span {
    color: #E7504D;
}
.world-content p {
    margin-top: 30px;
    line-height: 30px;
    text-align: left;
    color: #BFBFBE;
}
.world-content .morebtn {
    width: 105px;
    height: 35px;
    margin-top: 40px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #E7504D;
}
.world-content .morebtn:link, .world-content .morebtn:visited {
    color: #E7504D;
}
.world-picbox-nav {
    margin-top: 24px;
}
.world-picbox-nav li a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #929292;
    background-color: #fff;
}
.world-picbox-nav li:not(:last-child) {
    margin-right: 12px;
}
.world-picbox-nav li a.on {
    background-color: #929292;
}
/*三角形*/
.world-content:before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -26px;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
    border-color: transparent #fff transparent transparent;
    border-width: 15px 26px 15px 0;
    border-style: solid;

}
/*century*/
.century {
    position: relative;
    width: 100%;
    height: 523px;
}
.seemore {
    width: 70%;
    height: 100%;
}
.seemorelt, .seemorert {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
}
.seemore h2:first-child {
    margin-top: 170px;
}
.seemore div:before {
    position: absolute;
    top: 47%;
    left: 50%;
    margin-left: -15px;
    content: '';
    width: 30px;
    height: 2px;
}
.seemorelt:before {
    background-color: #fff;
}
.seemorert:before {
    background-color: #aaa;
}
.seemore a {
    width: 170px;
    height: 40px;
    margin-top: 50px;
    line-height: 40px;
}
.seemorelt {
    color: #fff;
}
.seemorert {
    color: #000;
}
.seemorelt a{
    color: #fff;
    border: 1px solid #fff;
}
.seemorert a {
    color: #E7504D;
    border: 1px solid #E7504D;
}
.seemorelt {
    background-color: #E7504D;
}
.seemorert {
    background-color: #fff;
}
.century-picbox {
    position: relative;
    width: 30%;
    height: 100%;
    overflow: hidden;
}
/*三角形*/
.century-picbox:before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
    border-color: transparent transparent transparent #fff;
    border-width: 15px 0 15px 26px;
    border-style: solid;
}
/* newtime ends*/

/* volunteer */
.volunteer {
    height: 750px;
    padding: 115px 140px 166px;
    background-color: #fff;
}
.volunteer .title {
    position: relative;
    text-align: center;
}
.volunteer .title h1 {
    color: #323232;
}

.volunteer .title .line {
	border-bottom-style: solid;
	border-bottom-color: #E7504D;
	width: 30px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.volunteer .title p {
    margin-top: 30px;
    color: #AAAAA9;
}
.volunteer .content {
    width: 95%;
    margin: 0 auto;
    padding-top: 100px;
}
.volunteer .content .treaty-group {
    width: 40%;
}
.volunteer .content .treaty-group .treaty {
    width: 100%;
    margin-bottom: 40px;
    padding-right: 70px;
}
.volunteer .content .treaty-group .treaty h3 {
    margin-bottom: 20px;
}
.volunteer .content .treaty-group .treaty p {
    color: #A7A5A6;
    line-height: 21px;
}
.volunteer .content .treaty-group .treaty a {
    width: 50px;
    text-align: right;
    background: url("images/icons/more.png") no-repeat left 70%;
}
.volunteer .content .treaty-group .treaty a:link, .volunteer .content .treaty-group .treaty a:visited {
    color: #A7A5A6;
} 
.volunteer .content .application {
    width: 60%;
}
.volunteer .content .application #name, #age, #contact, #address {
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    text-indent: 2em;
    background-color: #EDEDEE;
}
.volunteer .content .application #age, #address {
    margin-right: -10px;
}
.volunteer .content .application #dreamlife {
    width: 620px;
    height: 120px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #EDEDEE;
}
.volunteer .content .application #application-btn {
    width: 620px;
    height: 40px;
    background-color: #EDEDEF;
}
/* volunteer ends */

/* footer */
.footer {
    position: relative;
    height: 420px;
    background-color: #32363E;
}
.contact {
    width: 40%;
    height: 80%;
    margin: 0 auto;
    padding-top: 90px;
    color: #fff;
    text-align: center;
}
.contact h1 {
    line-height: 50px;
}
.contact p {
    line-height: 21px;
}
.contact .emailform {
    width: 510px;
    margin: 0 auto;
    padding: 24px 0;
}
.contact #email {
    width: 80%;
    height: 40px;
    text-indent: 1em;
}
.contact #submit {
    width: 20%;
    height: 40px;
    margin-left: -10px;
    background-color: #6F7178;
    color: #fff;
    cursor: pointer;
}
.contact .sns a {
    width: 30px;
    height: 30px;
}
.contact .sns a:not(:last-child) {
    margin-right: 15px;
}
.contact .sns .qq {
    background: url("images/icons/qq.png") no-repeat;
}
.contact .sns .weibo {
    background: url("images/icons/weibo.png") no-repeat;
}
.contact .sns .twi {
    background: url("images/icons/twi.png") no-repeat;
}
.contact .sns .net {
    background: url("images/icons/net.png") no-repeat;
}
.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #303039;
}
.copyright a {
    margin-top: 30px;
    margin-left: 100px;
}
.copyright .back-to-top {
    margin-left: 0;
    margin-right: 40px;
}
.copyright a:link, .copyright a:visited {
    color: #fff;
}
/* footer ends */