/* BASIC */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Microsoft Yahei", Arial, sans-serif;
	font-size: 16px;
}
input {
	outline: none;
	border: none;
}

/* STYLE */
form {
	margin-top: 20px;
	margin-left: 20px;
}
.input, .submit{
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
}
.input {
	margin-left: 40px;
	width: 300px;
	text-indent: .5em;
	border-width: 1px;
	border-style: solid;
	border-color: #eee;
}
.submit {
	margin-left: 10px;
	padding: 0 15px;
	width: auto;
	color: #fff;
	background-color: #2F79BA;
	cursor: pointer;
}
/*normal*/.message {
	margin-top: 10px;
	margin-left: 80px;
	font-size: 12px;
	color: #A9A9A9;
}
// /*error*/.message
