* {
  margin: 0;
  padding: 0;
}
ul {
  margin-top: 10px;
  vertical-align: bottom;
}
li {
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  background-color: rgb(189, 94, 128);
  color: #fff;
  list-style-type: none;
}
